<div id="nsdevices-addform" title="Add Device">

    <div class="nsdialog-logo">
        <img alt="Device" src="img/add_32px.png"/>
    </div>

    <form>
        <fieldset>
            <label for="devicename">Name : </label>
            <input type="text"
                   name="devicename" id="devicename"
                   class="text ui-widget-content ui-corner-all"/>
        </fieldset>
        <fieldset>
            <label for="devicetype">Type: </label> <select
                name="devicetype" id="devicetype"
                class="text ui-widget-content ui-corner-all" style="display: inline-block;">
            <option value="nil"></option>
        </select>
        </fieldset>

        <fieldset>
            <label for="devicelogin">Login : </label>
            <input type="text"
                   name="devicelogin" id="devicelogin"
                   class="text ui-widget-content ui-corner-all"/>
        </fieldset>

        <fieldset>
            <label for="devicepassword">Password : </label>
            <input type="password"
                   name="devicepassword" id="devicepassword"
                   class="text ui-widget-content ui-corner-all"/>
        </fieldset>

        <fieldset>
            <label for="deviceip">IP : </label>
            <input type="text"
                   name="deviceip" id="deviceip"
                   class="text ui-widget-content ui-corner-all"/>
        </fieldset>

        <fieldset>
            <label for="devicecompany">Company: </label> <select
                name="devicecompany" id="devicecompany"
                class="text ui-widget-content ui-corner-all" style="display: inline-block;">
            <option value="nil"></option>
        </select>
        </fieldset>
        <fieldset>
            <label for="devicefolder">Folder : </label>
            <input type="text"
                   name="devicefolder" id="devicefolder"
                   class="text ui-widget-content ui-corner-all" disabled/>
        </fieldset>
        <fieldset>
            <label for="devicetask">Date : </label> <select
                name="devicetask" id="devicetask"
                class="text ui-widget-content ui-corner-all" style="display: inline-block;">
            <option value="HOUR">HOURLY</option>
            <option value="DAILY">DAILY</option>
            <option value="WEEKLY">WEEKLY</option>
        </select>
        </fieldset>
        <fieldset>
            <label for="devicehour">Time : </label> <select
                name="devicehour" id="devicehour"
                class="text ui-widget-content ui-corner-all" style="display: inline-block;">
            <option value="5:00 AM">5:00 AM</option>
            <option value="5:30 AM">5:30 AM</option>
            <option value="6:00 AM">6:00 AM</option>
            <option value="6:30 AM">6:30 AM</option>
            <option value="7:00 AM">7:00 AM</option>
            <option value="7:30 AM">7:30 AM</option>
            <option value="8:00 AM">8:00 AM</option>
            <option value="8:30 AM">8:30 AM</option>
            <option value="9:00 AM">9:00 AM</option>
            <option value="9:30 AM">9:30 AM</option>
            <option value="10:00 AM">10:00 AM</option>
            <option value="10:30 AM">10:30 AM</option>
            <option value="11:00 AM">11:00 AM</option>
            <option value="11:30 AM">11:30 AM</option>
            <option value="12:00 PM">12:00 PM</option>
            <option value="12:30 PM">12:30 PM</option>
            <option value="1:00 PM">1:00 PM</option>
            <option value="1:30 PM">1:30 PM</option>
            <option value="2:00 PM">2:00 PM</option>
            <option value="2:30 PM">2:30 PM</option>
            <option value="3:00 PM">3:00 PM</option>
            <option value="3:30 PM">3:30 PM</option>
            <option value="4:00 PM">4:00 PM</option>
            <option value="4:30 PM">4:30 PM</option>
            <option value="5:00 PM">5:00 PM</option>
            <option value="5:30 PM">5:30 PM</option>
            <option value="6:00 PM">6:00 PM</option>
            <option value="6:30 PM">6:30 PM</option>
            <option value="7:00 PM">7:00 PM</option>
            <option value="7:30 PM">7:30 PM</option>
            <option value="8:00 PM">8:00 PM</option>
            <option value="8:30 PM">8:30 PM</option>
            <option value="9:00 PM">9:00 PM</option>
            <option value="9:30 PM">9:30 PM</option>
            <option value="10:00 PM">10:00 PM</option>
            <option value="10:30 PM">10:30 PM</option>
            <option value="11:00 PM">11:00 PM</option>
            <option value="11:30 PM">11:30 PM</option>
        </select>
        </fieldset>
        <div class="nserror" id="error">
            <span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
            <span id="errormsg"></span>
        </div>
    </form>
</div>
