<div id="nsdevices-device" class="nsmain">
    <h1 id="nameMac"></h1>

    <div id="nsdevices-devicetabs">

        <div id="devicetoolbar">
            <button id="edit">Edit</button>
            <button id="delete">Delete</button>
        </div>
    </div>

    <div id="nsdevices-devicedetails" class="panel">
        <table id="general">
            <thead>
            <tr>
                <th>Name</th>
                <th>Size</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>

    </div>

</div>

<div id="nsdevices-sidedividerzone" class="nssidebar">
</div>

<div id="nsdevices-groups" class="nssidebar nstreelist">
    <ul>

    </ul>
</div>

<div id="nsdevices-list" class="nssidebar">
    <div style="margin-bottom: 15px;">
        <form>
            <fieldset>
                <label for="companyselect">Company: </label> <select
                    name="companyselect" id="companyselect"
                    class="text ui-widget-content ui-corner-all" style="display: inline-block;" >
            </select>
            </fieldset>
        </form>
        <hr>
    </div>
    <div id="nsdevices-listbox-virtual" class="nstreelist" tabindex="1">
        <ul>
        </ul>
    </div>
</div>