<div id="nsdevices-device" class="nsmain">
    <!-- Page -->
    <div class="virtualform">
        <form style='float: left; padding: 5px;'>
            <label for="virtual"> Appliances</label>
            <select id="virtual">

            </select>
        </form>
        <form style='float: left; padding: 5px;'>
            <input type="text" value="test">
            <input type="button" value="Search">
        </form>
    </div>


    <div class="virtual" id="virtualpage" >
        <table>
            <thead>
            <tr>
                <th>Fichier</th>
                <th>Date</th>
            </tr>
            </thead>

            <tbody id="bodytableau">
            </tbody>
        </table>
    </div>

</div>

<div id="nsdevices-sidedividerzone" class="nssidebar">
</div>

<div id="nsdevices-groups" class="nssidebar nstreelist">
    <ul>

    </ul>
</div>

<div id="nsdevices-list" class="nssidebar">
    <div id="nsdevices-listbox-virtual" class="nstreelist" tabindex="1">
        <ul>
        </ul>
    </div>
</div>