<div id="nsdevices-device" class="nsmain">

</div>

<div id="nsdevices-sidedividerzone" class="nssidebar">
</div>

<div id="nsdevices-list-virtual" class="nssidebar">
    <div style="margin-bottom: 15px;">
        <form>
            <fieldset>
                <label for="companyselect">Company: </label> <select
                    name="companyselect" id="companyselect"
                    class="text ui-widget-content ui-corner-all" style="display: inline-block;" >
            </select>
            </fieldset>
        </form>
        <hr>
    </div>
    <div id="nsdevices-listbox-virtual" class="nstreelist" tabindex="1">
        <ul>
        </ul>
    </div>
</div>