<h1><%- name %></h1>
<h4><u>Folder:</u> <%- folder %></h4>

<div id="nsdevices-devicetabs">

    <div id="devicetoolbar">
        <button id="refresh">Refresh</button>
        <button id="delete">Delete</button>
    </div>
</div>

<div id="nsdevices-devicedetails" class="panel">
    <table id="general">
        <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Date</th>
            <th>Action</th>
            <th>Download</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
